.body {
    background: #cdcdcd;
}

.cell{
    height: 79px;
}

.cell-large {
    height: 156px;
}

.slots_machine {
    border: 1px solid #202020;
    border-radius: 5px;
    padding: 0;
}

.closed_machine {
    border-radius: 5px;
    background-color: lightgray;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 999;
}

.slot{
    height: 77px;
    border: 1px solid lightblue;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nameWrap {
    display: flex;
    justify-content: center;
    height: 79px;
}

.nameWrap-large {
    display: flex;
    justify-content: center;
    height: 156px;
}

.machine {
    align-self: center;
    text-align: center;
    /*line-height:75px;*/
}

.header {
    /*line-height:75px;*/
    height: 75px;
}

.name{
    vertical-align: middle;
    display: inline-block;
}

.column{
    padding: 0;
}

.OF {
    height: 75px;
    background-color: rgb(158, 200, 216);
    border-radius: 5px;
    border-width: thick;
    line-height: initial;
    text-align: center;
    z-index: 4;

}

.slots_prepa {
    border: 1px solid #202020;
    border-radius: 5px;
    padding: 0;
}

.prochaine {
    border: 5px solid green;
}

.prochaineRouge {
    border: 5px solid red;
}

.OF {
    height: 75px;
    background-color: rgb(158, 200, 216);
    border-radius: 5px;
    line-height: initial;
    text-align: center;
    z-index: 4;

}

div[priority="3"]:not(.current) {
    /*background-color: #cddc39;*/
    background-color: white;
    color: #202020;
    /*border: thick solid;*/
    /*border-color: #f44336;*/
}

div[priority="2"]:not(.current) {
    background-color: #ffeb3b;
    color: #202020;
}

div[priority="1"]:not(.current) {
    /*background-color: #ff9800;*/
    background-color: #f44336;
}

div[priority="0"]:not(.current) {
    background-color: #f44336;
    border: thick solid;
    border-color: #ffeb3b;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #f44336;
    }
    40% {
        box-shadow: 0 0 20px #f44336;
    }
    60% {
        box-shadow: 0 0 20px #f44336;
    }
    100% {
        box-shadow: 0 0 -10px #f44336;
    }
}

.glow {
    animation: glowing 2000ms infinite;
}

.toggle {
    width: 100%;
}

