.cell{
    height: 79px;
}

.cell-large {
    height: 156px;
}

.slots_machine {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0;
}

.closed_machine {
    border-radius: 5px;
    background-color: lightgray;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 999;
}

.slot{
    height: 77px;
    border: 1px solid lightblue;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}

.nameWrap {
    display: flex;
    justify-content: center;
    height: 75px;
}

.nameWrap-large {
    display: flex;
    justify-content: center;
    height: 150px;
}

.machine {
    align-self: center;
    text-align: center;
    /*line-height:75px;*/
}

.header div{
    line-height:75px;
}

.name{
    vertical-align: middle;
    display: inline-block;
}

.column{
    padding: 0;
}

.OF {
    height: 75px;
    background-color: rgb(158, 200, 216);
    border-radius: 5px;
    border-width: 2px;
    line-height: initial;
    text-align: center;
    z-index: 4;

}

.OF {
    height: 75px;
    border-radius: 5px;
    line-height: initial;
    text-align: center;
}

.slots_prepa {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0;
}

.prochaine {
    border: 5px solid green;
}

.prochaineRouge {
    border: 5px solid red;
}

.OF[priority="3"] {
    background-color: #cddc39;
}

.OF[priority="2"] {
    background-color: #ffeb3b;
}

.OF[priority="1"] {
    background-color: #ff9800;
}

.OF[priority="0"] {
    background-color: #f44336;
}

.phase[priority="3"] {
    border-color: #cddc39;
}

.phase[priority="2"] {
    border-color: #ffeb3b;
}

.phase[priority="1"] {
    border-color: #ff9800;
}

.phase[priority="0"] {
    border-color: #f44336;
}

.toggle {
    width: 100%;
}

