.cell{
    height: 75px;
}

.slot{
    height: 75px;
    border : 1px solid black;
    border-radius: 5px;
}

.machine{
    height: 75px;
    line-height:75px;
}

.machine-large{
    height: 150px;
    line-height:150px;
}

.header div{
    line-height:75px;
}

.name{
    vertical-align: middle;
    display: inline-block;
}

.column{
    padding: 0;
}

.phase {
    height: 100%;
    /*background: linear-gradient(90deg, rgb(128, 177, 133) 60%, rgb(158,200,216) 40%);*/
}


#drag-1 {
    height: 22px;
    margin: 10%;

    background-color: #29e;
    color: white;

    border-radius:5px;
    padding: 4%;

    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}