body {
    --background-color: #dddddd;
    --closed-machine-background-color: #bbbbbb;
    --slot-night-background-color: #daedf2;
    --slot-night-border-color: #b4e4f0;
    --slot-default-background-color: #daf2da;
    --slot-default-border-color: #b4f0b4;
    --background-current-OF: #ddb3ff; /* caution, I mostly need to be changed in main.js */
    --progress-bar-current-OF: #af4dff; /* caution, I mostly need to be changed in main.js */
}

body {
    background: var(--background-color) !important;
    position: relative;
}

.cell{
    height: 79px;
}

.cell-large {
    height: 156px;
}

.slots_machine {
    border: 1px solid #202020;
    border-radius: 5px;
    padding: 0;
}

.closed_machine {
    border-radius: 5px;
    background-color: var(--closed-machine-background-color);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.slot{
    height: 77px;
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.slot_day {
    border: 1px solid var(--slot-default-border-color);
    background-color: var(--slot-default-background-color);
    position: relative;
}

.slot_day:before {
    content: "\1F31E";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 75px;
    font-size: large;
}

.slot_TM {
    border: 1px solid var(--slot-night-border-color);
    background-color: var(--slot-night-background-color);
    position: relative;
}

.slot_TM:before {
    content: "\1F312";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 75px;
    font-size: large;
}

.nameWrap {
    display: flex;
    justify-content: center;
    height: 79px;
}

.nameWrap-large {
    display: flex;
    justify-content: center;
    height: 156px;
}

.machine {
    align-self: center;
    text-align: center;
    /*line-height:75px;*/
}

.header {
    /*line-height:75px;*/
    height: 75px;
}

.name{
    vertical-align: middle;
    display: inline-block;
}

.column{
    padding: 0;
}

.OF {
    position: absolute;
    height: 75px;
    width: 100%;
    background-color: rgb(158, 200, 216);
    border-radius: 5px;
    border-width: thick;
    line-height: initial;
    text-align: center;
    z-index: 4;
}

#reserve .OF {
    width: calc(100% - 2px);
}

.slots_prepa {
    border: 1px solid #202020;
    border-radius: 5px;
    padding: 0;
}

.prochaine[data-preferable=true] {
    border-color: transparent; /* remove the border's colour */
    box-shadow: 0 0 0 5px green inset; /* emulate the border */
}

.prochaine[data-preferable=false] {
    border-color: transparent; /* remove the border's colour */
    box-shadow: 0 0 0 5px red inset; /* emulate the border */
}

div[priority="3"]:not(.current) {
    /*background-color: #cddc39;*/
    background-color: white;
    color: #202020;
    /*border: thick solid;*/
    /*border-color: #f44336;*/
}

div[priority="2"]:not(.current) {
    background-color: #ffeb3b;
    color: #202020;
}

div[priority="1"]:not(.current) {
    /*background-color: #ff9800;*/
    background-color: #f44336;
}

div[priority="0"]:not(.current) {
    background-color: #f44336;
    border: thick solid;
    border-color: #ffeb3b;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #f44336;
    }
    40% {
        box-shadow: 0 0 20px #f44336;
    }
    60% {
        box-shadow: 0 0 20px #f44336;
    }
    100% {
        box-shadow: 0 0 -10px #f44336;
    }
}

.glow {
    animation: glowing 2000ms infinite;
}

.toggle {
    width: 100%;
}

.alreadyInPrep {
    opacity: 0.5;
}

.alreadyInPrep::after {
    content: "EN PRÉPA";
    /*SUR " attr(prep-machine,'');*/
    display: block;
    opacity: 1;
    color: black;
    font-weight: bold;
}

#fixedbutton {
    position: fixed;
    top: 0px;
    right: 0px;
    opacity: 0.2;
    transition: opacity 0.5s;
}

#fixedbutton:hover {
    opacity: 1;
}

